@model NextGenRobotics.Models.Product

@{
    ViewBag.Title = "Create Product";
}



<h2 class="text-center mt-4">Create New Product</h2>

@using (Html.BeginForm("Create", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="container d-flex justify-content-center">
        <div class="row shadow p-4 rounded bg-light col-md-8">
            <h4 class="mb-3">Product Information</h4>
            <hr />

            <!-- Validation Summary -->
            @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })

            <!-- Product Name -->
            <div class="mb-3 row">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-md-3 col-form-label fw-bold" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <!-- Category -->
            <div class="mb-3 row">
                @Html.LabelFor(model => model.CategoryId, "Category", htmlAttributes: new { @class = "col-md-3 col-form-label fw-bold" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.CategoryId, (SelectList)ViewBag.CategoryId, "Select Category", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                </div>
            </div>

            <!-- Unit Price -->
            <div class="mb-3 row">
                @Html.LabelFor(model => model.UnitPrice, htmlAttributes: new { @class = "col-md-3 col-form-label fw-bold" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
                </div>
            </div>

            <!-- Units in Stock -->
            <div class="mb-3 row">
                @Html.LabelFor(model => model.UnitInStock, htmlAttributes: new { @class = "col-md-3 col-form-label fw-bold" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.UnitInStock, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UnitInStock, "", new { @class = "text-danger" })
                </div>
            </div>

            <!-- Stock Status -->
            <div class="mb-3 row">
                @Html.LabelFor(model => model.StockStatus, htmlAttributes: new { @class = "col-md-3 col-form-label fw-bold" })
                <div class="col-md-9">
                    @Html.EnumDropDownListFor(model => model.StockStatus, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.StockStatus, "", new { @class = "text-danger" })
                </div>
            </div>

            <!-- Description -->
            <div class="mb-3 row">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "col-md-3 col-form-label fw-bold" })
                <div class="col-md-9">
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = 4 })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <!-- Upload Image -->
            <div class="mb-3 row">
                @Html.Label("Upload Image", htmlAttributes: new { @class = "col-md-3 col-form-label fw-bold" })
                <div class="col-md-9">
                    <input type="file" name="file" class="form-control" />
                    @Html.ValidationMessage("file", "", new { @class = "text-danger" })
                </div>
            </div>

            <!-- Submit Button -->
            <div class="row">
                <div class="col-md-9 offset-md-3">
                    <input type="submit" value="Create Product" class="btn btn-primary px-4" />
                </div>
            </div>
        </div>
    </div>
}

<div class="mt-3 text-center">
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
